

@mixin hideScrollBar {
  /* firefox */
  scrollbar-width: none;

  /* IE10,IE11,IE12 隐藏滚动条 https://blog.csdn.net/zzzyyc/article/details/81872639 */
  // /* stylelint-disable-next-line */
  -ms-scroll-chaining: chained;
  -ms-overflow-style: none;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  // /* stylelint-disable-next-line */
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);

  /* webkit内核 */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

