// Define variable defaults
$body-bg: #0C0B0E;
$body-color: #CCCCCC;



$theme-colors: (
  "primary": #1DD186,
  "danger": #ff4136
);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '~bootstrap';
@import '~bootstrap-vue';


body {
  // color: #CCCCCC;
  font-family: "ChillPixels Mono", "ChillPixels Maximal", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-width: 1200px;
  // background: url(~@/assets/img/bottom-bg@2x.png) center 100% / auto 1400px no-repeat;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// @media (min-width: 1200px) {
//   .container-xl, 
//   .container-lg, 
//   .container-md, 
//   .container-sm, 
//   .container {
//       max-width: 1200px !important;
//   }

// }


.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 1200px;
  max-width: 1200px !important;
  // width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}


// @media (min-width: 1200px) {
//   .container-xl, .container-lg, .container-md, .container-sm, .container {
//       max-width: 1230px;
//   }
// }

// .b-toast {
 
// }


.toast {
  width: 379px;
  border-radius: 20px;

  & .toast-body {
    padding: 10px;
  }

  & .toast-content {
    display: flex;
    padding: 14px;
  }


  & .toast-icon {
    width: 30px;
    height: 30px;
  }
 
  & .text-wrapper {
    margin-left: 25px;
  }

  & .toast-text {
    color: #18F195;
    font-size: 18px;
  }

  & .toast-link {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-top: 6px;
  }

  & .progress {
    height: 4px;
    background: #000000;
    border-radius: 3px;
    width: 100%;

    & .progress-inner {
      width: 0;
      height: 4px;
      background: #18F195;
      border-radius: 3px;
      transition: all 2.9s ease-out;

      &.fill {
        width: 100%;
      }
    }
  }
}

.b-toast-success {
  .toast {
    background-color: #031F13 !important;

    & .toast-text {
      color: #18F195;
    }
    & .progress {
      & .progress-inner {
        background: #18F195;
      }
    }
    
  }
}

.b-toast-error {
  .toast {
    background-color: #20100E !important;

    & .toast-text {
      color: #E37165;
    }
    & .progress {
      & .progress-inner {
        background: #B66562;
      }
    }
  }
}

.b-toast-pending {
  .toast {
    background-color:  #06243C !important;
  }
}

.toast-body {
  
}

.toast-content {
  
}